[{sync,[{growl,all},
        {log,all},
        {non_descendant,fix},
        {excluded_modules,[]},
        {executable,auto}]},
 {simple_bridge,[{handler,nitrogen},
                 {backend,mochiweb},
                 {address,"0.0.0.0"},
                 {port,8000},
                 {document_root,"./site/static"},
                 {static_paths,["js/","css/","images/","nitrogen/",
                                "favicon.ico"]},
                 {max_post_size,10},
                 {max_file_size,10},
                 {max_file_in_memory_size,0},
                 {scratch_dir,"./scratch"}]},
 {sync,[{growl,all},
        {log,all},
        {non_descendant,fix},
        {excluded_modules,[]},
        {executable,auto}]},
 {simple_bridge,[{handler,nitrogen},
                 {backend,mochiweb},
                 {address,"0.0.0.0"},
                 {port,8000},
                 {document_root,"./site/static"},
                 {static_paths,["js/","css/","images/","nitrogen/",
                                "favicon.ico"]},
                 {max_post_size,10},
                 {max_file_size,10},
                 {max_file_in_memory_size,0},
                 {scratch_dir,"./scratch"}]},
 {sync,[{growl,all},
        {log,all},
        {non_descendant,fix},
        {excluded_modules,[]},
        {executable,auto}]},
 {simple_bridge,[{handler,nitrogen},
                 {backend,mochiweb},
                 {address,"0.0.0.0"},
                 {port,8000},
                 {document_root,"./site/static"},
                 {static_paths,["js/","css/","images/","nitrogen/",
                                "favicon.ico"]},
                 {max_post_size,10},
                 {max_file_size,10},
                 {max_file_in_memory_size,0},
                 {scratch_dir,"./scratch"}]},
 {nitrogen,[]},
 {sasl,[{sasl_error_logger,{file,"log/sasl-error.log"}},
        {errlog_type,error},
        {error_logger_mf_dir,"log/sasl"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles,5}]},
 {nitrogen,[]},
 {sasl,[{sasl_error_logger,{file,"log/sasl-error.log"}},
        {errlog_type,error},
        {error_logger_mf_dir,"log/sasl"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles,5}]},
 {nitrogen,[]},
 {sasl,[{sasl_error_logger,{file,"log/sasl-error.log"}},
        {errlog_type,error},
        {error_logger_mf_dir,"log/sasl"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles,5}]}].
